body{
    background-image: linear-gradient(rgba(0,0,0,0.25) ,rgba(0,0,0,0.55)), url(../imge/imge.jpg);
    background-color:rgba(59, 210, 227, 0.453) ;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
   
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

        .topnav .icon {
          display: none;
        }
        
        @media screen and (max-width: 600px) {
          .topnav a:not(:first-child) {display: none;}
          .topnav a.icon {
            float: right;
            display: block;
          }
        }
        
        @media screen and (max-width: 600px) {
          .topnav.responsive {position: relative;}
          .topnav.responsive .icon {
            position: absolute;
            right: 0;
            top: 0;
          }
          .topnav.responsive a {
            float: none;
            display: block;
            text-align: left;
          }
          .card{
                    width: 50% !important;
                }
                /* .logo{
                  width: 100% !important;
                } */
                .bak{
                  
                  width: 60%;
                }
        }
                 

.card{
    background-color:white;
    border-radius: 20px;
    padding: 41px;
    display: block;
    margin: 100px auto;
   
}
form{

    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
.text{
    text-align: center;
    font-size: 30px;
    margin-bottom: 16px; 
     margin-top: -27px
}

.btn{
    width:  173px;
    padding-right:80px;
    padding-left: 120px 
  
}

.gradient-custom-4 {
    background: #84fab0;
    background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 1), rgb(97 135 154));
    background: linear-gradient(to right, rgba(132, 250, 176, 1), rgb(97 135 154));
    border: none;
    padding: 10px 20px ;
    border-radius: 25px;
    cursor: pointer;
    color: white;
    padding-left: 37px;
    padding-right: 37px;
    opacity: 0.9;
    transition: 0.5s;
      
}


.gradient-custom-4:hover {
    background-color: white;
    color: rgb(49, 44, 44);
}


/* *{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body{
background-color:rgba(59, 210, 227, 0.453) ;
}
.navbar{
    display: inline-block;
    width: 85;
    margin: auto;
    padding:10px 0 ;
    display: flex;
    align-items: center;
   background-color: rgb(199, 244, 229);
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
}
.navbar a{
    list-style: none;
    display: inline;
    margin: 0 20px;
    position: relative;
}
.navbar  .bak{
    text-decoration: none;
    color: rgb(29, 94, 96);
    text-transform: uppercase;
}
.navbar .bak::after{
    content: '';
    height: 3px;
    width: 0 ;
    background:#009688;
    background-color: #21898d;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
.navbar .bak:hover::after{
    width: 100%;
}

.logo{
    margin-left: 40px;
    width: 70px;
    cursor: pointer;
    border-radius:50%;
} */
*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
body{
background-color:rgba(59, 210, 227, 0.453) ;
}
.navbar{
  display: inline-block;
  width: 85;
  margin: auto;
  padding:7px 0 ;
  display: flex;
  align-items: center;
  justify-content: space-between; 
  background-color: rgb(199, 244, 229);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
.navbar ul li{
  list-style: none;
  display: inline;
  margin: 0 20px;
  position: relative;
}
.navbar ul li a{
  text-decoration: none;
  color: rgb(29, 94, 96);
  text-transform: uppercase;
}
.navbar ul li::after{
  content: '';
  height: 3px;
  width: 0 ;
  background:#009688;
  background-color: #21898d;
  position: absolute;
  left: 0;
  bottom: -10px;
  transition: 0.5s;
}
.navbar ul li:hover::after{
  width: 100%;
}
.logo{
  margin-left: 40px;
  width: 70px;
  cursor: pointer;
  border-radius:50%;
}

#footer {
  background-color: rgb(199, 244, 229);
  text-align: center;
  color:  rgb(248, 245, 244);
  padding: 15 px 0;
  font-size: 14px;
  text-decoration:none ;
  text-transform: lowercase;
  

}
#footer .add{
 text-transform: uppercase;
 text-decoration: none;
 color:rgb(4, 4, 4);
 /* margin-bottom: 10px; */
 display: block;
 justify-content: space-evenly;
 padding: 5px;
 
 
}
.icon i{
  margin-right: 3px;
  padding:5px;
}


